@import "compass/reset";
@import "compass/css3";

body{
	background: image-url('bg.png');
	font: 13px "HelveticaNeue", Helvetica, Arial;
    color: #dcdee0;
}

.app-container{
    margin: 100px auto;
    width: 400px;
}

.grey-box{
	width: 360px;
    padding: 20px;
	color: #dcdee0;
    border: 1px solid #111315;
    @include box-shadow(0px 0px 4px rgba(0,0,0,0.4), 0px 1px 0px #5b606e inset);
    @include background(linear-gradient(#363a43, #1a1d22));
    @include border-radius(4px);

	h1{
		font-size: 18px;
	}
}

.find-out-button{
	color: #fff;
	@include background(linear-gradient(#87d0e4, darken(#87d0e4, 10%)));
	@include box-shadow(0px 0px 4px rgba(0,0,0,0.4), 0px 1px 0px #5b606e inset);
	@include text-shadow(2px 2px 0px darken(#87d0e4, 20%));
	@include border-radius(4px);
	margin: 20px;
	padding: 10px;
	text-align: center;
	display: block;
	font-size: 22px;
	font-weight: bold;
	text-decoration: none;
	@include transition(text-shadow box-shadow);
	@include transition-duration(400ms);
	&:hover{
		@include text-shadow(4px 4px 0px darken(#87d0e4, 20%));
	}
}

.list{
    padding: 20px;
    width: 320px;
    margin: 0px auto;
    @include background(linear-gradient(#1a1d22, darken(#363a43, 5%)));
    @include border-bottom-right-radius(4px);
    @include border-bottom-left-radius(4px);
    @include text-shadow(0px -1px 1px #000);
    @include box-shadow(0px 3px 6px #000 inset);
    border: 1px solid #000;

    h2{
        font-weight: bold;
        padding-bottom: 12px;
    }
	
	li{
		overflow: hidden;
		padding-bottom: 8px;
		
		&:last-child{
			padding-bottom: 0px;
		}
	}

    a{
        color: #dcdee0;
		background: rgba(0,0,0,.3);
		@include border-radius(12px);
		padding: 3px 10px;
        text-decoration: none;
		float: right;
		@include transition-property(background text-shadow);
		@include transition-duration(400ms);
    }

	a:hover{
		background: #87d0e4;
		color: #fff;
		@include text-shadow(2px 2px 0px darken(#87d0e4, 20%));

	}
	
}

.bold{
	color: #FFF;
	font-weight: bold;
}
