/* line 17, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../.rbenv/versions/1.9.2-p290/lib/ruby/gems/1.9.1/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../sass/screen.scss */
body {
  background: url('../images/bg.png?1336149439');
  font: 13px "HelveticaNeue", Helvetica, Arial;
  color: #dcdee0;
}

/* line 10, ../../sass/screen.scss */
.app-container {
  margin: 100px auto;
  width: 400px;
}

/* line 15, ../../sass/screen.scss */
.grey-box {
  width: 360px;
  padding: 20px;
  color: #dcdee0;
  border: 1px solid #111315;
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #363a43), color-stop(100%, #1a1d22));
  background: -webkit-linear-gradient(#363a43, #1a1d22);
  background: -moz-linear-gradient(#363a43, #1a1d22);
  background: -o-linear-gradient(#363a43, #1a1d22);
  background: -ms-linear-gradient(#363a43, #1a1d22);
  background: linear-gradient(#363a43, #1a1d22);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
/* line 24, ../../sass/screen.scss */
.grey-box h1 {
  font-size: 18px;
}

/* line 29, ../../sass/screen.scss */
.find-out-button {
  color: #fff;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87d0e4), color-stop(100%, #5dc0db));
  background: -webkit-linear-gradient(#87d0e4, #5dc0db);
  background: -moz-linear-gradient(#87d0e4, #5dc0db);
  background: -o-linear-gradient(#87d0e4, #5dc0db);
  background: -ms-linear-gradient(#87d0e4, #5dc0db);
  background: linear-gradient(#87d0e4, #5dc0db);
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  -o-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4), 0px 1px 0px #5b606e inset;
  text-shadow: 2px 2px 0px #34afd1;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 20px;
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  -moz-transition: text-shadow box-shadow;
  -webkit-transition: text-shadow box-shadow;
  -o-transition: text-shadow box-shadow;
  transition: text-shadow box-shadow;
  -moz-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 44, ../../sass/screen.scss */
.find-out-button:hover {
  text-shadow: 4px 4px 0px #34afd1;
}

/* line 49, ../../sass/screen.scss */
.list {
  padding: 20px;
  width: 320px;
  margin: 0px auto;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1a1d22), color-stop(100%, #2b2e35));
  background: -webkit-linear-gradient(#1a1d22, #2b2e35);
  background: -moz-linear-gradient(#1a1d22, #2b2e35);
  background: -o-linear-gradient(#1a1d22, #2b2e35);
  background: -ms-linear-gradient(#1a1d22, #2b2e35);
  background: linear-gradient(#1a1d22, #2b2e35);
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -o-border-bottom-right-radius: 4px;
  -ms-border-bottom-right-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -o-border-bottom-left-radius: 4px;
  -ms-border-bottom-left-radius: 4px;
  -khtml-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-shadow: 0px -1px 1px black;
  -moz-box-shadow: 0px 3px 6px black inset;
  -webkit-box-shadow: 0px 3px 6px black inset;
  -o-box-shadow: 0px 3px 6px black inset;
  box-shadow: 0px 3px 6px black inset;
  border: 1px solid #000;
}
/* line 60, ../../sass/screen.scss */
.list h2 {
  font-weight: bold;
  padding-bottom: 12px;
}
/* line 65, ../../sass/screen.scss */
.list li {
  overflow: hidden;
  padding-bottom: 8px;
}
/* line 69, ../../sass/screen.scss */
.list li:last-child {
  padding-bottom: 0px;
}
/* line 74, ../../sass/screen.scss */
.list a {
  color: #dcdee0;
  background: rgba(0, 0, 0, 0.3);
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  -o-border-radius: 12px;
  -ms-border-radius: 12px;
  -khtml-border-radius: 12px;
  border-radius: 12px;
  padding: 3px 10px;
  text-decoration: none;
  float: right;
  -moz-transition-property: background text-shadow;
  -webkit-transition-property: background text-shadow;
  -o-transition-property: background text-shadow;
  transition-property: background text-shadow;
  -moz-transition-duration: 400ms;
  -webkit-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
}
/* line 85, ../../sass/screen.scss */
.list a:hover {
  background: #87d0e4;
  color: #fff;
  text-shadow: 2px 2px 0px #34afd1;
}

/* line 94, ../../sass/screen.scss */
.bold {
  color: #FFF;
  font-weight: bold;
}

/* UI Kit */
/* line 100, ../../sass/screen.scss */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: opacity 300ms;
  z-index: 500;
}

/* line 112, ../../sass/screen.scss */
#overlay.hide {
  pointer-events: none;
  opacity: 0;
}

/* line 115, ../../sass/screen.scss */
#dialog {
  position: fixed;
  left: 50%;
  top: 150px;
  max-width: 600px;
  min-width: 250px;
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 #ddd;
  background: white;
  z-index: 1000;
  color: #111315;
}

/* line 130, ../../sass/screen.scss */
#dialog .content {
  padding: 15px 20px;
}

/* line 134, ../../sass/screen.scss */
#dialog h1 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: normal;
}

/* line 140, ../../sass/screen.scss */
#dialog p {
  margin: 0;
  padding: 0;
  font-size: .9em;
}

/* line 146, ../../sass/screen.scss */
#dialog .actions button {
  padding: 5px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* line 154, ../../sass/screen.scss */
#dialog .actions button:hover {
  text-decoration: underline;
}

/* line 158, ../../sass/screen.scss */
#dialog .actions button.main {
  padding: 5px 15px;
  background: -webkit-linear-gradient(top, white 20%, #eeeeee);
  border: 1px solid #eee;
  border-bottom-color: #cacaca;
  -webkit-border-radius: 3px;
  outline: none;
}

/* line 167, ../../sass/screen.scss */
#dialog .actions button.main:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(top, white 50%, #eeeeee);
}

/* line 172, ../../sass/screen.scss */
#dialog .actions button.main:active {
  background: -webkit-linear-gradient(bottom, white 20%, #eeeeee);
}

/* line 176, ../../sass/screen.scss */
#dialog.modal {
  -webkit-box-shadow: 0 1px 8px 0 black;
}

/* close */
/* line 182, ../../sass/screen.scss */
#dialog .close {
  position: absolute;
  top: 3px;
  right: 10px;
  text-decoration: none;
  color: #888;
  font-size: 16px;
  font-weight: bold;
  display: none;
}

/* line 193, ../../sass/screen.scss */
#dialog.closable .close {
  display: block;
}

/* line 197, ../../sass/screen.scss */
#dialog .close:hover {
  color: black;
}

/* line 201, ../../sass/screen.scss */
#dialog .close:active {
  margin-top: 1px;
}

/* slide */
/* line 207, ../../sass/screen.scss */
#dialog.slide {
  -webkit-transition: opacity 300ms, top 300ms;
}

/* line 211, ../../sass/screen.scss */
#dialog.slide.hide {
  opacity: 0;
  top: -500px;
}

/* fade */
/* line 218, ../../sass/screen.scss */
#dialog.fade {
  -webkit-transition: opacity 300ms;
}

/* line 222, ../../sass/screen.scss */
#dialog.fade.hide {
  opacity: 0;
}

/* scale */
/* line 228, ../../sass/screen.scss */
#dialog.scale {
  -webkit-transition: -webkit-transform 300ms;
  -webkit-transform: scale(1);
}

/* line 233, ../../sass/screen.scss */
#dialog.scale.hide {
  -webkit-transform: scale(0);
}
